@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (orientation: portrait) {
  body::after {
      background-color: rgba(255, 255, 255);
      color: black;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      height: 100vh;
      width: 100vw;
      content: "Silakan putar perangkat Anda ke mode landscape.";
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 20px;
      padding: 20px;
  }
}

@keyframes idleFloat {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.idle {
  animation: idleFloat 2s ease-in-out infinite;
}

@keyframes idleScale {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

.idlescale {
  animation: idleScale 2s ease-in-out infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}
